/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

@media only screen and (min-width: 769px) {

    .container {
	width: 880px;
	margin: auto;
    }
}

@media only screen and (max-width: 768px) {
    .container {
	width: 100%;
	margin: auto;
    }
}

@media only screen and (max-width: 400px) {
    .container {
	width: 100%;
	margin: auto;
    }
}

/* Header Styles */

@media only screen and (min-width: 769px) {
    
    header {
	width: 100%;
	display: flex;
    }

    header nav {
	margin-top: 40px; 
	width: 610px;
	justify-content: space-between;
	display: flex;
    }

    header nav a {
	text-decoration: none;
	color: #b0b0b0;
    }

    header nav a:hover {
	text-decoration: underline;
	color: black;
    }

    header .logo {
	align-self: flex-end;
	margin: 28px 0 0 91px;
    }

}

@media only screen and (max-width: 768px) {

    header {
	margin: 20px;
	display: flex;
	flex-direction: column;
    }

    header nav {
	margin-top: 40px;
	display: flex;
	order: 2;
	justify-content: space-between;
    }

    header nav a {
	text-decoration: none;
	color: #b0b0b0;
    }

    header nav a:hover {
	text-decoration: underline;
	color: black;
    }

    header .logo {
	margin: auto;
    }


}

@media only screen and (max-width: 400px) {
    
    header {
	margin: 20px 0 20px 0;
	display: flex;
	flex-direction: column;
    }

    header nav {
	margin-top: 20px;
	display: flex;
	order: 2;
	justify-content: space-between;
	flex-direction: column;
    }

    header nav a {
	text-decoration: none;
	color: #b0b0b0;
	display: flex;
	justify-content: center;
	border-top: 1px solid #b0b0b0;
	padding: 22px;
	margin: 0;
    }

    header nav a:last-child {
	border-bottom: 1px solid #b0b0b0;
    }

    header nav a:hover {
	text-decoration: underline;
	color: black;
    }

    header .logo {
	margin: auto;
    }

}

/* Call To Action (CTA) Styles */

@media only screen and (min-width: 769px) {
    .cta {
	display: flex;
	margin-top: 72px;
	justify-content: flex-end;
    }

    .cta .cta-text {
	font-size: 72px;
	text-align: center;
	letter-spacing: 5px;
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
	margin: 0 82px 0 0;
    }

    .cta .cta-text button {
	border: 1px double black;
	font-size: 16px;
	letter-spacing: 1px;
	background: white;
	width: 170px;
	height: 32px;
	margin-top: 20px;
	cursor: pointer;
    }

    .cta .cta-text button:hover {
	background: black;
	color: white;
    }
}

@media only screen and (max-width: 768px) {
    .cta {
	display: flex;
	margin-top: 72px;
	justify-content: center;
	margin: 20px;
    }

    .cta .cta-text {
	font-size: 72px;
	text-align: center;
	letter-spacing: 5px;
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
	margin: 50px 20px 0 0;
    }

    .cta .cta-text button {
	border: 1px double black;
	font-size: 16px;
	letter-spacing: 1px;
	background: white;
	width: 170px;
	height: 32px;
	margin-top: 10px;
	cursor: pointer;
    }

    .cta .cta-text button:hover {
	background: black;
	color: white;
    }

    .cta img {
	display: none;
    }
}

@media only screen and (max-width: 400px) {
    .cta {
	display: flex;
	margin-top: 72px;
	justify-content: flex-end;
	margin: 20px;
    }

    .cta .cta-text {
	font-size: 72px;
	text-align: center;
	letter-spacing: 5px;
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
	margin: 30px 20px 0 0;
    }

    .cta .cta-text button {
	border: 1px double black;
	font-size: 16px;
	letter-spacing: 1px;
	background: white;
	width: 170px;
	height: 32px;
	margin-top: 10px;
	cursor: pointer;
    }

    .cta .cta-text button:hover {
	background: black;
	color: white;
    }

    .cta img {
	display: none;
    }
    
}


/* Main Content Styles */

@media only screen and (min-width: 769px) {

    .main-content {
	border-top: 2px solid black; 
	border-bottom: 2px solid black;
	margin: 75px 0 35px 0;
	padding: 35px 0;
	font-size: 16px;
	line-height: 18px;
    }

    .main-content .top-content {
	display: flex;
	justify-content: space-around;
    }

    .main-content .middle-img {
	display: block;
	margin: 30px auto;
    }

    .main-content .bottom-content {
	display: flex;
	justify-content: space-around;
    }

    .main-content .bottom-content p {
	padding-right: 20px;
    }
}
@media only screen and (max-width: 768px) {

    .main-content {
	border-top: 2px solid black; 
	border-bottom: 2px solid black;
	margin: 75px 20px 50px 20px;
	padding: 35px 0;
	font-size: 16px;
	line-height: 18px;
	width: 95%;
    }

    .main-content .top-content {
	display: flex;
	justify-content: space-around;
    }

    .main-content .middle-img {
	display: block;
	width: 715px;
	margin: 30px 25px 30px 0;
    }

    .main-content .bottom-content {
	display: flex;
	justify-content: space-around;
	margin-top: 45px;
    }

    .main-content .bottom-content p {
	padding-right: 10px;
	padding-bottom: 20px;
    }
}


@media only screen and (max-width: 400px) {

    .main-content {
	border-top: 2px solid black; 
	border-bottom: 2px solid black;
	margin: 75px 20px 35px 20px;
	padding: 0 0 35px 0;
	font-size: 16px;
	line-height: 18px;
	width: 90%;
    }

    .main-content .top-content {
	padding: 10px 0 0 0;
	margin-top: 15px;
	display: block;
    }

    .main-content .top-content h4 {
	margin-top: 30px;
    }
    
    .main-content .middle-img {
	width: 350px;
	margin: 40px 10px 0 0;
    }

    .main-content .bottom-content {
	display: block;
	margin-bottom: -10px;
    }

    .main-content .bottom-content h4 {
	margin-top: 20px;
    }

/*    .main-content .bottom-content p {
	padding-right: 20px;
    }
*/
}


/* Contact Styles */

@media only screen and (min-width: 769px) {
    .contact p {
	margin: 15px 0;
    }
}

@media only screen and (max-width: 768px) {
    .contact {
	margin: 0 0 0 20px;
    }
    
    .contact p {
	margin: 15px 20px 0 0;
    }
}

@media only screen and (max-width: 400px) {
    .contact {
	margin: 0 0 0 20px;
    }
    
    .contact p {
	margin: 15px 20px 0 0;
    }
}

/* Footer Styles */

footer {
    text-align: center;
    margin: 40px 0 20px;
}

